DOCKER_REGISTRY="registry.cn-shanghai.aliyuncs.com/" #  如果访问docker hub比较慢，可以改成使用阿里云容器服务 "registry.cn-shanghai.aliyuncs.com/"
DOMAIN="meet.example.com"
BINDIP="127.0.0.1"
REDIS_ADDR="127.0.0.1:6379"
REDIS_USER=""
REDIS_PASSWORD=""
MEET_SERVER="/"
MEET_KEY="changekeyandsecret"
MEET_SECRET="c7056e2x9689f7f3ecx8c6e4055c4bc565dc9c5a" #32位
MEET_ADDR="127.0.0.1:8888"
