DOMAIN="meet.example.com"
BINDIP="127.0.0.1"
REDIS_ADDR="127.0.0.1:6379"
REDIS_USER=""
REDIS_PASSWORD=""
HEDWI_MEET_SERVER="/"
HEDWI_MEET_KEY="changekeyandsecret"
HEDWI_MEET_SECRET="c7056e2x9689f7f3ecx8c6e4055c4bc565dc9c5a" #32位
HEDWI_MEET_ADDR="127.0.0.1:8888"
