DOMAIN="work.example.com"  # 域名
BINDIP=127.0.0.1
MINIO_USER="username"
MINIO_PASSWORD="password"
MINIO_ADDR="127.0.0.1:9000"
MINIO_USESSL=false
MINIO_WEB_ADDR="127.0.0.1:9001"
HEDWI_LICENSE=""
CRDB_ADDR="127.0.0.1:26257"
CRDB_WEB_ADDR="127.0.0.1:42080"
DB_NAME="hedwi_selfhost"
OFFICE_API_ADDR="127.0.0.1:42201"
CONSUL_ADDR="127.0.0.1:8500"
REDIS_ADDR="127.0.0.1:6379"
REDIS_USER=""
REDIS_PASSWORD=""
IMAP_ADDR="127.0.0.1:42994"
IMAP_TLS_ADDR="127.0.0.1:42993"
HUB_ADDR="127.0.0.1:41002"
SEARCH_ADDR="127.0.0.1:41701"
FILTER_ADDR="127.0.0.1:41003"
NATS_URL="nats://127.0.0.1:42422"
ALLOW_ORIGIN="http://127.0.0.1:4200"
SMTP_ADDR="127.0.0.1:42025"
SMTP_TLS_ADDR="127.0.0.1:42465"
HEDWI_MEET_SERVER="/"
HEDWI_MEET_KEY=""
HEDWI_MEET_SECRET=""
HEDWI_MEET_ADDR="127.0.0.1:8888"
