DOCKER_REGISTRY="registry.cn-shanghai.aliyuncs.com/" #  如果访问docker hub比较慢，可以改成使用阿里云容器服务 "registry.cn-shanghai.aliyuncs.com/"
DOMAIN="work.example.com"  # 域名
ADMIN_EMAIL="xxx@example.com"
ADMIN_PASSWORD="passwordneedchange"
BINDIP=127.0.0.1
MINIO_USER="changeusername"
MINIO_PASSWORD="changepassword"
MINIO_ADDR="127.0.0.1:9000"
MINIO_USESSL="false"
MINIO_WEB_ADDR="127.0.0.1:9001"
PUBLIC_DRIVE_PREFIX=""
HEDWI_LICENSE=""
CRDB_ADDR="127.0.0.1:26257"
CRDB_WEB_ADDR="127.0.0.1:42080"
DB_NAME="hedwi_selfhost"
OFFICE_API_ADDR="127.0.0.1:42201"
CONSUL_ADDR="127.0.0.1:8500"
REDIS_ADDR="127.0.0.1:6379"
REDIS_USER=""
REDIS_PASSWORD=""
CERT_DIR="/tmp/hedwi_certs"
IMAP_ADDR="127.0.0.1:42994"
IMAP_TLS_ADDR="127.0.0.1:42993"
HUB_ADDR="127.0.0.1:41002"
SEARCH_ADDR="127.0.0.1:41701"
FILTER_ADDR="127.0.0.1:41003"
NATS_URL="nats://127.0.0.1:42422"
ALLOW_ORIGIN="http://127.0.0.1:4200"
SMTP_ADDR="127.0.0.1:42025"
SMTP_TLS_ADDR="127.0.0.1:42465"
MEET_SERVER="/"
MEET_KEY="changekeyandsecret"
MEET_SECRET="c7056e2x9689f7f3ecx8c6e4055c4bc565dc9c5a"
MEET_ADDR="127.0.0.1:8888"
MQTT_ID="1"
MQTT_IP="127.0.0.1" 
MQTT_PORT="1883"
MQTT_PROTOCOL="wss" 
MQTT_PUBLIC_PORT="41883"
AI_TOKEN=""
AI_MODEL=""
AI_TYPE="deepseek"

